*{
  margin: 0;
  padding: 0;

}

.menu {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 100%;
}
.logo {
  float: left;
  padding-left: 60px;
  position: absolute;
  margin-top: 2px;

}
.ilustro {
  float: left;
  position: relative;
  top: 90px;
  left: 60px;
}
.botao {
  float: right;
  position: relative;
  top: 100px;
  right: 180px;
  width: 300px;
  height: 50px;
  border: solid 1px #0e1525;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  background-color: #0e1525;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;

}
.botao:hover{
  background-color: blue;
  color: white;
  transform: scale(1.2)
}

@media screen and (max-width: 480px) {
  .ilustro {
    position: relative;
    left: 60px;
    max-height: 10px;
    

  }
  .logo {
    position: relative;
    right: 25px;
  }
  .botao {
    position: relative;
    top: 600px;
    right: 55px;
  }
  
  

 
}
@media screen and (min-width: 200px) {
  .ilustro {
    position: relative;
    left: 40px;
    top: 30px;
    
    
  }
  .logo {
    position: fixed;
    width: 100px;
    top: 3px;
    left: -20px;
  }
  .botao {
    position: relative;
    top: 530px;
    left: -35px;
    
  }
  
}
@media screen and (min-width: 400px) {
  .ilustro {
    position: relative;
    left: 55px;
    top: 200px;

  }
  .botao {
    position: relative;
    left: -60px;
    top: 700px;
  }
}
@media screen and (min-width: 430px) {
  .botao {
    left: -70px;
  }
  .logo {
    position: relative;
    left: -5px;
  }
}
@media screen and (min-width: 480px) {
  .botao {
    left: -50px;
  }
}
